[Unit]
Description=pico-google-photos kiosk (Cage + Chromium)
After=network-online.target systemd-user-sessions.service dbus.service seatd.service
Wants=network-online.target
Requires=dbus.service

[Service]
Type=simple
User=pi
Group=video
SupplementaryGroups=video render input seat
PAMName=login
TTYPath=/dev/tty7
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
StandardInput=tty
StandardOutput=journal
StandardError=journal
RuntimeDirectory=cage
RuntimeDirectoryMode=0700
Environment=XDG_RUNTIME_DIR=/run/cage
Environment=WLR_LIBINPUT_NO_DEVICES=1
Environment=RUST_LOG=info
ExecStartPre=-/bin/sleep 5
ExecStart=/usr/local/bin/pico-google-photos
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
